body {
  /* background: linear-gradient(-45deg, #ff0000, #ff00ff); */
  background-size: 400% 400%;
  /* animation: Gradient 25s ease infinite; */
  background-color: black;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Adjust jump height as desired */
  }
}

.preContainer {
  margin-top:15em;
}

.centeredImage {
  display: block; /* Makes it block so it can be centered */
  margin: 0 auto; /* Centers the image horizontally */
  width: 17em; 
  animation: jump 3s infinite; 
}

.preMessage{
  margin-bottom: 0; 
  color: white; 
  text-align: center; 
  font-family: 'Poppins'; 
  animation: pulse 3s infinite; 
}


.loadingMessage {
  font-size: 2.75em;
}
.loadingMessage2 {
  font-size: 2.25em;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1; /* Fully visible */
  }
  50% {
    opacity: 0.5; /* Fades to 50% visibility */
  }
}

.songContainer {
  border-radius: 15px;
  padding: 40px;
  margin: 40px auto;
  width: 75%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #151515;
  color: #f1f1f1;
  min-height: 38em;

  animation: Gradient 25s ease infinite;
}

.generalInfo{
  text-align:center;
  margin:1.5em;
  color:white;
}